// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer{
  height: 100px;
  background-color: purple;
  color: #fff;
  & > .containerc{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
  }
}

main{
  height: calc(100% - 200px);
  background-color:#fff;
  .containerc{
    width: 100%;
    height: 100%;

    .content{
      width: 100%;
      height:100%;
      border: 2px solid black;
      .bar{
        font-size: 30px;
        width: 100%;
        height: 100px;
        background: #fff;
        border: 3px solid red;
        background: lightblue;
        display: flex;
        justify-content: space-around;
      }
      .creation{
        text-align: center;
        form{
          margin-top: 30px;
          line-height: 50px;
          font-size: 30px;
          input{
            height: 30px;
            background-color: lightblue;
            color: #fff;
            font-size: 25px;
            &:last-child{

              width: 200px;
              border-radius: 20px;
              padding: 5px;
              height: 70px;
              color: black;
              background-color: white;
            }
          }
      }

      }

      .list{
        width: 90%;
        margin: auto;
        height: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .title{
          height: 10%;
          h2{
            font-size: 40px;
            text-align: center;
          }
        }
        .test{
          max-height: 70%;
          padding-top: 50px;
          ul{
            width: 100%;
            height: 80%;
            line-height: 45px;
            color: #black;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            font-size: 23px;
          }
        }
        .buttons{
          max-height:30%;
         a{
           background: lightblue;
           padding: 5px;
           border: 2px solid red;
           font-size: 25px;
           margin-right: 15px;
           text-decoration: none;
           color: black;
         }
        }
      }

    }
  }
}
