* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  height: 10vh;
  background-color: purple;
  color: #fff;
}

header > .container,
footer > .container {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

main {
  height: 80vh;
  background-color: grey;
}

main .container {
  width: 100%;
  height: 100%;
}

main .container .bar {
  font-size: 30px;
  width: 100%;
  height: 100px;
  background: #fff;
  border: 3px solid red;
  background: lightblue;
  display: flex;
  justify-content: space-around;
}

main .container .content {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

main .container .content .creation {
  text-align: center;
}

main .container .content .creation form {
  margin-top: 30px;
  line-height: 50px;
  font-size: 30px;
}

main .container .content .creation form input {
  height: 30px;
  background-color: lightblue;
  color: #fff;
  font-size: 25px;
}

main .container .content .creation form input:last-child {
  width: 200px;
  border-radius: 20px;
  padding: 5px;
  height: 70px;
  color: black;
  background-color: white;
}

main .container .content .list {
  width: 90%;
  margin: auto;
  height: calc(100% - 100px);
}

main .container .content .list h2 {
  font-size: 40px;
  text-align: center;
}

main .container .content .list ul {
  width: 100%;
  height: 80%;
  line-height: 45px;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 30px;
}

main .container .content .list .buttons a {
  background: lightblue;
  padding: 20px;
  border: 2px solid red;
  font-size: 25px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

